$todoAnimSpeed: 0.5s;

todo-list {
  display: block;
  margin-bottom: 25px;
}

.todos {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    margin: 0;
    padding: 15px;
  
    &.au-enter {
      opacity: 0 !important;
    }
  
    &.au-enter-active {
      animation: fadeIn $todoAnimSpeed;
    }
  
    &.au-leave-active {
      animation: fadeOut $todoAnimSpeed;
    }
  }
}

