@import "custom";
@import "~bootstrap/scss/bootstrap";

@import "colours";

@import "todos";

#todos {
  margin: 0 auto;
  max-width: 800px;
  padding-top: 30px;
}

h1 {
  margin-bottom: 20px;
}

@import "animations";
